<h1>Burger Believe It!!!</h1>
<img src="https://cdn.dribbble.com/users/831863/screenshots/2724451/dribbbble2_1x.png">

{{!-- <h2>Burgers that are not Devoured!</h2> --}}
<h3>EAT THAT BURGER</h3>
<ul class="notEaten">
  {{#each burgers}}
    {{#unless devoured}}
      {{> burgers/burger-block devoured=true}}
    {{/unless}}
  {{/each}}
</ul>

{{!-- <h2>Burgers that are devoured!</h2> --}}

<ul class="eaten">
  {{#each burgers}}
    {{#if devoured}}
      {{> burgers/burger-block devoured=false}}
    {{/if}}
  {{/each}}
</ul>


<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<form class="create-form">

  <div class="form-group">
    <label for="ca">Burger Name:</label>
    <input type="text" id="ca" name="burger_name">
  </div>

  <button class= "addB" type="submit">Add Burger</button>
</form>
<h4>Enter a burger you want to eat and Click the "Submit" button</h4>
